/*General CSS*/
* {
  margin: 0;
  padding: 0;
}

canvas {
  z-index: 50;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #018a74;
}

.mychat {
  position: absolute;
  top: calc(50% - 100% / 2);
  left: calc(50% - 100% / 2);
  height: 100%;
  width: 100%;
  background: radial-gradient(circle, #caffd8, #c8ffd1);
  border-radius: 50px;
  border-bottom-right-radius: 30px;
  box-shadow: #414051 5px 5px 10px;
  z-index: -5;
}

/***Register CSS***/

.mychat .register {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.mychat input[name="Username"], .mychat input[name="Password"]{
  margin: 7px 15px;
  padding: 0px 10px;
  border-radius: 50px;
  width: 25%;
  height: 5%;
}

.mychat button[name="register"], .mychat button[name="login-page"] {
  width: 25%;
  height: 5%;
  border-radius: 50px;
  background-color: #008585;
  font-weight: bold;
}

/***Connecting CSS***/
.mychat .connecting{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.mychat h1{
  font-size: 400%;
  margin: 2%;
}

.mychat h2 {
  margin: 1%;
}

.mychat .avatars-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: 1%;
}

.mychat .avatar{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid #caffd8 3px;
  background-color: darkseagreen;
}

.mychat .avatar:hover, .mychat .avatar.selected{
  border: solid white 3px;
  cursor: pointer;
}

.mychat .input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.mychat .input-name{
  width: 50%;
  height: 75%;
  font-weight: bold;
}

.mychat #Password, .mychat #User{
  margin: 7px 15px;
  padding: 0px 10px;
  border-radius: 50px;
  width: 75%;
  height: 100%;
}

.mychat #connect-button, .mychat button[name="register-page"] {
  width: 20%;
  height: 5%;
  border-radius: 50px;
  background-color: #008585;
  font-weight: bold;
}

/*** In game CSS ***/

.logged-in {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
  z-index: -10;
}

#mycanvas{
  grid-column: 1 / 5;
  grid-row: 1 / 10;
  cursor: pointer;
}

/***Chatting CSS***/
.mychat .chatting {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border-radius: 50px;
  border-bottom-right-radius: 30px;
  box-shadow: #414051 5px 5px 10px;
  grid-column: 1 / 5;
  grid-row: 10 / 17;
}

/*Header section*/
.mychat header {
  grid-column: 2 / 5;
  grid-row: 1;
  background-color: #008585;
  border: solid black 1px;
  padding: 5px;
  border-top-right-radius: 30px;
  box-shadow: #414051 0px 5px 20px;
}

.mychat .chat-title {
  display: flex;
  height: 100%;
  padding-left: 10px;
  align-items: center;
  width: fit-content;
}

/*Options section*/
.mychat .options-container {
  background-color: #008585;
  border-bottom: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-top-left-radius: 50px;
  box-shadow: 5px 5px 20px #414051;
  padding: 0px 5px;
  z-index: 10;
}

.mychat #new-room {
  padding: 5px 10px ;
  border-radius: 50px;
  width: 70%;
}

.mychat .add-chat{
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.mychat .add-chat:hover{
  transform: scale(1.05);
  cursor: pointer;
}

/*Navbar section*/
.mychat nav {
  grid-column: 1;
  grid-row: 2 / 17;
  background-color: #8f9b60;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-bottom-left-radius: 25px;
  box-shadow: 5px 0px 20px #414051;
  overflow: scroll;
}

.mychat img.room-icon{
  height: 50px;
  width: auto;
  float: left;
}

li:hover,
.mychat button:hover {
  background-color: #97c7b3;
  cursor: pointer;
  transform: scale(1.01);
}

.mychat .chat-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.mychat .chat-name {
  font-weight: bold;
  display: block;
  margin-top: 10%;
}

/*Main section*/
.mychat main {
  border: solid 1px;
  border-top: 0px;
  grid-column: 2 / 5;
  grid-row: 2 / 16;
  background: radial-gradient(circle, #caffd8, #c8ffd1);
  overflow: scroll;
  z-index: -1;
}

/*Input section*/
.mychat #input {
  grid-row: 16;
  grid-column: 2 / 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8f9b60;
  border-bottom-right-radius: 30px;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  box-shadow: inset #414051 1px 0px 5px;
}

.mychat input#message {
  width: 100%;
  height: 75%;
  font-size: large;
  padding: 0 10px;
  margin-left: 2px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.mychat button#message-button {
  width: 10%;
  height: 100%;
  border-bottom-right-radius: 30px;
  background-color: #74a892;
  border: 0px;
  box-shadow: inset #324518 1px 0px 5px;
}

.mychat .message {
  max-width: 60%;
  width: fit-content;
  border: solid black;
  border-radius: 40px;
  padding: 10px;
  margin: 15px;
  box-shadow: #414051 2px 3px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mychat .message-container{
  max-width: 60%;
  width: fit-content;
  display: flex;
  align-items: center;
}

.mychat .message-container>img{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 2px;
}

.mychat .message-container.me {
  margin-left: auto;
  justify-content: flex-end;
}

.mychat .message-container.it {
  margin-right: auto;
  justify-content: flex-start;
}

.mychat .message-container.me>.message{
  background-color: lightgreen;
}

.mychat .message-container.it>.message{
  background-color: white;
}

.mychat .message.system {
  background-color: lightgrey;
  margin: auto;
  margin-top: 15px;
  border-radius: 10px;
  font-size: smaller;
  border-color: gray;
}

.mychat .message{
  display: block;
}

.mychat .sender{
  font-weight: bold;
  font-size: small;
}

.mychat .message.private{
  color: red;
}

.mychat .chat-title {
  font-weight: bold;
}


/*** This CSS is for the room changing interface ***/

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
}
.choose-room,
.choose-character {
  position: absolute;
  height: 30%;
  width: 30%;
  top: calc(50% - 30% / 2);
  left: calc(50% - 30% / 2);
  background: #018a74;
  z-index: 150;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  height: 20%;
  width: 80%;
  border: solid 1px black;
  border-radius: 5px;
  margin: 3px;
  background-color: #74a892;
  list-style: none;
  display: flex;
  align-items: center;
  box-shadow: #414051 1px 0px 5px;
  overflow: hidden;
}

li.selected {
  background-color: #97c7b3;
  cursor: pointer;
}