<div class="card text-white bg-dark p-4 mt-4">
    <div class="card-body">

        <h1>About us</h1>
        <p class="lead">
            We are Luka Chabaud and Raquel Sans Barragán, two Computer Science students at Pompeu Fabra University.
            This website is a project made for the subject <i>Virtual Communication Environments</i>.
            This is for the two of us our first dive into the world of fullstack development, and we've put a lot of hard work into it.
            We hope you appreciate it.
        </p>
    </div>
</div>