<!--
<div class="card text-white bg-dark p-4 mt-4">
    <div class="card-body">
        <h1>CANVAS</h1>
        <p>This is the canvas bb</p>
    </div>
</div>
-->
<p>Hola {{user.username}}</p>
<!--Load the scripts-->
