<div class="jumbotron text-white bg-dark p-4 mt-4 ms-4 me-4" style="border-radius: 20px">
    <h1 class="display-4 text-center"> Welcome to Roomz!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error officia aperiam minus ipsum cum eos praesentium ipsa omnis laudantium, illum sunt, in, maxime autem quam commodi nihil quia quas. Perferendis.</p>
    <a href="https://www.youtube.com/watch?v=-bI0diefasA" class="btn btn-primary btn-lg">youtube tutorial</a>
</div>
