<div class="mychat collapse card" id="collapseChat">
    <div class="message-space card-body">
        <!-- This is where the messages will be-->
    </div>
    <input type="text" name="message" id="message-input" placeholder="Send a message" class="form-control">

</div>